<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OnlyListApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlyList"
        tools:targetApi="31"
        xmlns:tools="http://schemas.android.com/tools">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OnlyList"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- AniList OAuth redirect: olink://anilist-auth -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="olink" android:host="anilist-auth" />
            </intent-filter>
        </activity>

        <!-- Crash handler error screen (CORE_RULES §19) -->
        <activity
            android:name=".error.ErrorActivity"
            android:exported="false"
            android:theme="@style/Theme.OnlyList"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout" />

    </application>

</manifest>
